body{
  display: flex;
  margin: 0px;
  padding: 0px;
}

.contenedor-principal{
  width: 99%;
  background: white;
  margin: 0px;
  padding: 0px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 500px;
}

.contenedor{
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.contenedor .tarjeta{
  width: 330px;
  height: 430px;
  border-radius: 30px;
  box-shadow: 0 2px 3px 1px rgba(5, 5, 5, 0.8);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.tarjeta img{
  width: 330px;
  height: 220px;
}

.tarjeta h2 h3{
  font-weight: 500;
  font-family: sans-serif;
}

.tarjeta p{
  font-size: 16px;
  color: blue;
  font-family: sans-serif;
}

button{
  margin: 30px;
  width: 200px;
  height: 30px;
  background-color: #3A7EF7;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 16px;
}

button:hover{
  cursor: pointer;
  background-color: #0246BF;
}

.boton{
  background: #ddd;
  color: black;
}

.boton:hover{
  color: white;
}

.formulario{
  display: block;
}

.parrafo-signo{
  margin: 50px 50px;
  font-weight: 600;
  font-size: 20px;
}
